* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #9EDDFF;
}

/* 
color palette
    #6499E9 
    #9EDDFF
    #A6F6FF
    #BEFFF7
*/

/* ********************************************* */



header {
    background-color: #6499E9;
    height: 100px;
    box-shadow: 0 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
    position: sticky;
    top: 0;
}

.world-flags-incon {
    width: 60px;
    height: 60px;
    /* border: solid 1px azure; */
    border-radius: 50%;
    box-shadow: 0 0 5px azure;
    position: absolute;
    left: 40px;
}

h1 {
    font-size: 3rem;
    color: azure;
    text-shadow: 0 0 3px black;
    position: absolute;
    left: 140px;
}

nav {
    position: absolute;
    right: 40px;
}
.links {
    height: 25px;
    /* color: black; */
    color: azure;
    text-shadow: 0 0 3px black;
    font-weight: 800;
    text-decoration: none;
    margin-left: 40px;
}

.links:hover {
    text-shadow: 0 0 5px;
}


/* ********************************************* */



.search {
    background-color: lightskyblue;
    box-shadow: 0 0 5px;
    height: 50px;
    /* margin-top: 10px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 10;
    position: sticky;
    top: 100px;
}

button {
    background-color: #6499E9;
    color: azure;
    text-shadow: 0 0 3px black;
    border: solid 1px azure;
    box-shadow: 0 0 2px black;
    padding: 5px;
}
button:hover {
    box-shadow: 0 0 5px black;
}
.searchInfo {
    margin-top: 5px;
}



/* ********************************************* */

/* main {
    background-color: bisque;
} */

/* ********************************************* */


.description-Container {
    background-color: lightskyblue;
    width: 500px;
    height: 400px;
    margin: 200px auto 0 auto;
    box-shadow: 0 0 15px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* ********************************************* */



header {
    background-color: lightcoral;
    height: 100px;
    box-shadow: 0 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
}

.world-flags-incon {
    width: 60px;
    height: 60px;
    position: absolute;
    left: 40px;
}

h1 {
    font-size: 3rem;
    position: absolute;
    left: 140px;
}

nav {
    position: absolute;
    right: 40px;
}
.links {
    height: 25px;
    color: black;
    font-weight: 800;
    text-decoration: none;
    margin-left: 40px;
}

.links:hover {
    text-shadow: 0 0 5px;
}


/* ********************************************* */



.search {
    background-color: lightskyblue;
    box-shadow: 0 0 5px;
    height: 50px;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


button {
    background-color: aquamarine;
    padding: 5px;
}
button:hover {
    box-shadow: 0 0 2px;
}
.searchInfo {
    margin-top: 5px;
}




/* ********************************************* */



.card-container {
    background-color: #BEFFF7;
    width: 80%;
    height: 60%;
    margin: 10px auto 10px auto; 
    box-shadow: 0 0 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.card {
    background-color: rgb(185, 250, 210);
    width: 150px;
    height: 100px;
    margin: 30px 20px 15px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px black;
    position: relative;
}
.card:hover {
    box-shadow: 0 0 3px;
}

.countryFlag {
    width: 100px;
<<<<<<< HEAD
    height: 65px;
    /* margin-bottom: 15px; */
    border: solid 1px black;
=======
    height: 93px;
>>>>>>> 25d6b5f89816b5654dab82351bc91621ac301652
    position: absolute;
    top: -20px;
}

.countryName {
<<<<<<< HEAD
    /* background-color: burlywood; */
    /* width: 100%; */
    /* height: 50px; */
    /* border: solid 1px black; */
    margin-bottom: 10px;
=======
    width: 100%;
    height: 50px;
    border: solid 1px black;
>>>>>>> 25d6b5f89816b5654dab82351bc91621ac301652
    position: absolute;
    bottom: 0;
}



/* ********************************************* */


footer {
<<<<<<< HEAD
    background-color: #6499E9;
=======
    background-color: lightcoral;
>>>>>>> 25d6b5f89816b5654dab82351bc91621ac301652
    height: 100px;
    box-shadow: 0 0 5px;
    position: sticky;
    bottom: 0;
    z-index: 10;
}


/* ********************************************* */


@media (max-width: 700px) {
    
    h1 {
        font-size: 3rem;
        position: absolute;
        top: 10px;
    }
    nav {
        position: absolute;
        bottom: 10px;
        left: 18%;
    }


    .search {
        background-color: lightskyblue;
        height: 80px;
        margin-top: 10px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .block2 {
        display:  flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


<<<<<<< HEAD
    .card {
        height: 140px;
        margin: 30px 20px 15px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid 1px black;
        position: relative;
    }
=======
>>>>>>> 25d6b5f89816b5654dab82351bc91621ac301652
    .countryFlag {
        width: 100%;
        height: 93px;
        position: absolute;
        top: 0;
    }
}


/* @media (max-width: 700px) {
    
    h1 {
        font-size: 3rem;
        position: absolute;
        top: 10px;
    }
    
    nav {
        position: absolute;
        bottom: 10px;
        left: 18%;
    }
} */
