

* {
    box-sizing: border-box;
    margin: auto;
    padding: 0;
}

/* 
color palette
    #6499E9 
    #9EDDFF
    #A6F6FF
    #BEFFF7
*/

body {
    background-color: #6499E9;
    background-image: url("/imgs/metalBackground.avif");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}





.container {
    /* background-color: lightblue; */
    width: 650px;
    height: 350px;
    margin: 300px auto 0 auto;
}

.title {
    font-size: 3rem;
    display: block;
    background-color: #b3d0fb;
    width: 300px;
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
    border: solid 1px black;
    border-radius: 10px;
    box-shadow: inset 0 0 5px;
}


.aboutMe-box {
    background-color: #9EDDFF;
    width: 600px;
    height: 400px;
    padding: 20px;
    border-radius: 10px;
    border: solid 1px black;
    box-shadow: inset 0 0 10px;
    display: flex;
    flex-direction: column;
    column-gap: 3px;
}
.myName {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 10px;
}
.me-description {
    font-size: 1.2rem;
    font-weight: 400;
}