* {
    box-sizing: border-box;
}

body {
    background-image: url("/imgs/contactMe.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}



.container-blurBackground {
    box-shadow: 0 0 15px;
    padding: 50px;
    margin-top: 80px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.userData {
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    margin: 10px;
}
.userData::placeholder {
    color: rgb(19, 154, 154);
}
textarea {
    border-radius: 5px;
    margin: 10px;
}
.send-button{
    background-color: rgb(62, 164, 227);
    font-size: 1.1rem;
    font-weight: 600;
    padding: 10px;
    margin: 10px;
    width: 80px;
    border-radius: 5px;
}
.send-button:hover {
    background-color: rgb(130, 191, 228);
}
