* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /* background-color: #9EDDFF; */
    background-image: url("/imgs/body\ background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    min-height: 100vh;
}

/* 
color palette
    #6499E9 
    #9EDDFF
    #A6F6FF
    #BEFFF7
*/

/* ********************************************* */



header {
    background-color: #6499E9;
    height: 100px;
    box-shadow: 0 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
    position: sticky;
    top: 0;
}

.world-flags-incon {
    width: 60px;
    height: 60px;
    /* border: solid 1px azure; */
    border-radius: 50%;
    box-shadow: 0 0 5px azure;
    position: absolute;
    left: 40px;
}

.title {
    font-size: 3.5rem;
    color: azure;
    text-shadow: 0 0 3px black;
    position: absolute;
    top:15px;
    left: 140px;
}

nav {
    position: absolute;
    right: 40px;
}
.links {
    height: 25px;
    /* color: black; */
    color: azure;
    text-shadow: 0 0 3px black;
    font-size: 1.1rem;
    font-weight: 800;
    text-decoration: none;
    margin-left: 40px;
}

.links:hover {
    text-shadow: 0 0 5px;
}


/* ********************************************* */



.search {
    background-color: lightskyblue;
    box-shadow: 0 0 5px;
    height: 100px;
     
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 10;
    position: sticky;
    top: 100px;
}
/*
.search-input {
    padding: 5px;
    border-radius: 5px;
    border: solid 1px azure;
}
*/
.btn-alphabetically {
    background-color: #6499E9;
    color: azure;
    text-shadow: 0 0 3px black;
    border-radius: 5px;
    border: solid 1px azure;
    box-shadow: 0 0 2px black;
    padding: 10px;
    position: absolute;
    top: 35px;
    left: 100px;
}
button:hover {
    box-shadow: 0 0 5px black;
}
.searchInfo {
    margin-top: 5px;
}



.search-container-block2 {
    margin: 20px 0 10px 0;
    width: 250px;
    position: absolute;
    top: 15px;
    right: 100px;
}
.autocomplete-input {
    padding: 10px;
    width: 100%;
    border-radius: 5px;
}
.autocomplete-input::placeholder {
    color: rgb(61, 73, 141);
}
.autocomplete-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: calc(100%-10px);
    border-radius: 5px;
    max-height: 150px;
    overflow-y: auto;
}
.autocomplete-list > .linkList > li {
    background-color: rgb(255, 255, 255);
    color: rgb(52, 73, 150);
    width: 100%;
    padding: 15px;
    font-weight: bold;
    cursor: pointer;
}
.linkList {
    text-decoration: none;
}
.linkList > li:hover {
    background-color: lightblue;
}









/* ********************************************* */


.description-Container {
    background-color: lightskyblue;
    width: 800px;
    height: 500px;
    margin: 200px auto 0 auto;
    border-radius: 15px;
    box-shadow: inset 0 0 15px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.descrip-countryFlag {
    width: 400px;
    border: solid 1px black;
    border-radius: 15px;
    position: absolute;
    top: -70px;
}
.country-name {
    margin: 40px 0 10px 0;
    font-size: 3rem;
    font-weight: 800;
    position: absolute;
    top: 180px;
}
.this-Is-The-Description {
    padding: 30px;
    font-size: 1.5rem;
    font-weight: 600;
    position: absolute;
    bottom: 30px;
}


/* ********************************************* */










.card-container {
        /* background-color: #BEFFF7; */
        background: rgba(36, 88, 166, 0.5);
        width: 80%;
        height: 60%;
        margin: 10px auto 10px auto; 
        border-radius: 5px;
        box-shadow: 0 0 5px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
}

.card {
    background-color: rgb(185, 250, 210);
    width: 150px;
    height: 100px;
    margin: 30px 20px 15px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    position: relative;
}
.card:hover {
    box-shadow: inset 0 0 10px rgb(0, 0, 0);
}

.countryFlag {
    width: 100px;
    height: 65px;
    /* margin-bottom: 15px; */
    border: solid 1px black;
    border-radius: 5px;
    position: absolute;
    top: -20px;
}

.p_countryName {
    width: 100%;
    height: 50px;
    color: #000;
    font-size: 1.1rem;
    text-align: center;
    position: absolute;
    bottom: -7px;
}



/* ********************************************* */


footer {
    background-color: #6499E9;
    width: 100%;
    height: 100px;
    box-shadow: 0 0 5px;
    position: sticky;
    bottom: 0;
    z-index: 10;
}


/* ********************************************* */


@media (max-width: 700px) {
    
    h1 {
        font-size: 3rem;
        position: absolute;
        top: 10px;
    }
    nav {
        position: absolute;
        bottom: 10px;
        left: 18%;
    }


    .search {
        background-color: lightskyblue;
        height: 100px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .block2 {
        display:  flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }



    .card {
        height: 140px;
        margin: 30px 20px 15px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid 1px black;
        position: relative;
    }

    .countryFlag {
        width: 100%;
        height: 93px;
        position: absolute;
        top: 0;
    }
}


@media (max-width: 670px){
    .search {
        background-color: lightskyblue;
        height: 150px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .btn-alphabetically {
        display: flex;
        position: absolute;
        left: 250px;
        top: 20px;
    } 
    .search-container-block2 {
        position: absolute;
        top: 50px;
        right: 200px;
    }
    
}
    

